In [268]:
import pandas as pd
import random
import logging

In [269]:
data = pd.read_excel('./Data science tool set.xlsx')

In [270]:
tools = [i.upper() for i in data['All tools'].values]

In [271]:
# number of groups
len(tools)/4

8.0

In [272]:
Groups = {}
items = tools.copy()
random.seed(7)
for idx in range(len(tools)):
    selected_item = random.choice(items)
    try:
        Groups[chr(ord('@')+(1+int(idx%8)))] = Groups[chr(ord('@')+(1+int(idx%8)))]  + [selected_item]
    except:
        Groups[chr(ord('@')+(1+int(idx%8)))] = [selected_item]
    items.remove(selected_item)

In [273]:
Groups

{'A': ['MONGODB', 'POSTGRESQL', 'JAVA', 'DATA WAREHOUSING'],
 'B': ['CYTOSCAPE', 'KAFKA', 'CHARTIO', 'GOOGLE DATA STUDIO'],
 'C': ['TSQL', 'ACCESS', 'POWEBI', 'GEPHI'],
 'D': ['DATA LAKE', 'JAVASCRIPT', 'HADOOP', '.NET'],
 'E': ['MS TEAMS', 'POWERPOINT', 'SPIDER', 'BASH'],
 'F': ['SCALA', 'TABLEAU', 'SPREADSHEETS', 'SLACK'],
 'G': ['JULIA', 'MYSQL', 'VSCODE', 'SPARK'],
 'H': ['R', 'JUPYTER LAB', 'PYTHON', 'RABBITMQ']}

In [274]:
# refactor

In [275]:
def ingest_and_clean(link,col):
    """
    This function uses the supplied link to get excel document the
    gets the column of items to be grouped.
    The function returns a list of items to be grouped.
    """
    try:
        data = pd.read_excel(link)
    except Exception as e:
        logging.error(e)
        return None
    
    return [i.upper() for i in data[col].values]



def create_groups(list_of_items):
    """
    This function gets the list of items groups the items
    and retuns a dictionary of groups
    """
    Groups = {}
    items = list_of_items.copy()
    random.seed(7)
    for idx in range(len(list_of_items)):
        selected_item = random.choice(items)
        try:
            Groups[chr(ord('@')+(1+int(idx%8)))] = Groups[chr(ord('@')+(1+int(idx%8)))]  + [selected_item]
        except:
            Groups[chr(ord('@')+(1+int(idx%8)))] = [selected_item]
        items.remove(selected_item)
    return Groups



def make_groups_a_dataframe(groups):
    """
    This function take a dictionary of groups and converts it into a dataframe.
    I returns a pandas dataframe.
    """
    try:
        return pd.DataFrame(groups)
    except Exception as e:
        logging.error(e)
        return None

In [276]:
make_groups_a_dataframe(create_groups(tools))

,A,B,C,D,E,F,G,H
0,MONGODB,CYTOSCAPE,TSQL,DATA LAKE,MS TEAMS,SCALA,JULIA,R
1,POSTGRESQL,KAFKA,ACCESS,JAVASCRIPT,POWERPOINT,TABLEAU,MYSQL,JUPYTER LAB
2,JAVA,CHARTIO,POWEBI,HADOOP,SPIDER,SPREADSHEETS,VSCODE,PYTHON
3,DATA WAREHOUSING,GOOGLE DATA STUDIO,GEPHI,.NET,BASH,SLACK,SPARK,RABBITMQ